---

---

<div
  class="dark text-muted text-sm bg-white dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis sm:bg-black sm:text-slate-400"
>
  <span
    class="dark:bg-orange-700 bg-white/40 dark:text-white font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 tracking-wide"
    >SURVEY</span
  >
  <a href="https://app.youform.com/forms/rtbjam4f" target="_blank" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >
    <span class="hidden sm:block">Tell us what the perfect friend & dating app should be »</span>
    <span class="block sm:hidden">Help us build the perfect app »</span>
    </a
  >
  </a>
</div>
