---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Crushy — The friend and date-finding app that puts people first.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Sign up for testing',
        href: 'https://app.youform.com/forms/vtpxsto2',
        target: '_blank',
        icon: 'tabler:chevron-right',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-friends2.png', alt: 'Hero Image' }}
  >
    <Fragment slot="title">
      The friend and date-finding app that puts <span class="text-accent highlight">People first</span>.
    </Fragment>

    <Fragment slot="subtitle">
      Crushy is your gateway to real connections. Whether you're looking for friendship or something more, Crushy helps you find your people, your way.
    </Fragment>
  </Hero>


  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Paid in other apps, free with Crushy"
    title="What you will get with Crushy"
    subtitle="It is important to us that you get the tools you need to find your people."
    items={[
      {
        title: 'Free Search and Powerful Filters',
        description:
          'Discover people who share your quirks, passions, and vibes—Crushy makes connecting personal and fun!.',
        icon: 'tabler:search',
      },
      {
        title: 'Two modes - Surf and Dive',
        description:
          'Surf mode is image-driven for casual connections. Dive mode prioritizes personality with pixelated photos until the conversation warms up.',
        icon: 'tabler:toggle-right',
      },
      {
        title: 'Free features for women',
        description:
          'Exclusive features are available to women (and those who identify as such). Features like viewing profiles without being seen, seeing who viewed your profile, and more.',
        icon: 'tabler:woman',
      },
      {
        title: 'Better privacy controls',
        description:
          'Only show your profile to people you want to see it. You can also hide your profile from specific people.',
        icon: 'tabler:lock',
      },
      {
        title: 'Worldwide, for free',
        description:
          "Search for people anywhere in the world, for free. You are not limited to your city or country.",
        icon: 'tabler:location',
      },
      {
        title: 'Control who YOU want to see',
        description:
          'Choose the type of people you want to see. You can search for people by gender, sexual orientation, interests, and more.',
        icon: 'tabler:eye',
      },
      {
        title: 'Inclusivity',
        description:
          'No matter who you are, Crushy is for you. We want to build a community where everyone feels welcome. We are working on making Crushy available in more languages and countries.',
        icon: 'tabler:gender-transgender',
      },
      {
        title: 'AI features',
        description:
          'Not sure what to say? Our AI will help you write a message to someone you like. Same goes for finding the right words to describe yourself in your profile.',
        icon: 'tabler:ai',
      },
    ]}
  />

  <div class="text-center text-gray-500 text-xl">
    And much more!
    <div class="text-sm text-gray-500">
      We are working on adding more features every day.
    </div>
    <div class="h-20"></div>
  </div>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Take our survey',
        href: 'https://app.youform.com/forms/rtbjam4f',
        target: '_blank',
        icon: 'tabler:chevron-right',
      },
    ]}
  >
    <Fragment slot="title">
      We value your feedback!
    </Fragment>

    <Fragment slot="subtitle">
      Help us improve by taking a quick survey. Your insights are invaluable to us.
    </Fragment>
  </CallToAction>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Latest Blog Posts"
    information={`The Blog is where we share our thoughts on the app, the future of social media, and the future of dating. We'll also share updates on the app and what we're working on.`}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into why Crushy is the best friend and date-finding app."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Crushy?',
        description:
          "Because meeting new people shouldn’t feel like work. We’ve designed Crushy to make finding friends or dates easy, fun, and frustration-free. Most features are free, and we're working on more every day.",
      },
      {
        title: 'How will you make money?',
        description:
          'We wish we could give you a free app, but we need to make money to keep the servers running. We plan to make money through premium features.',
      },
      {
        title: 'Is this app safe?',
        description:
          "We take your safety very seriously. We have a strict policy against harassment and will take action against any inappropriate behavior.",
      },
      {
        title: 'Inclusivity',
        description:
          "Crushy is for everyone. We want to build a community where everyone feels welcome. You can filter by gender identity, and by sexual orientation.",
      },
      {
        title: 'How much will premium features cost?',
        description:
          "Our premium features will be available for a low monthly fee. We're still working on the exact pricing, but it will be affordable for everyone, unlike other apps.",
      },
      {
        title: "What's the difference between the two modes?",
        description:
          "Surf mode is image-driven for casual connections. Dive mode prioritizes personality with pixelated photos until the conversation warms up.",
      },
      {
        title: 'When and where will Crushy be available?',
        description:
          "We're currently working on the app and will be available in Vancouver, Canada first. We're working on expanding to other cities and countries soon after.",
      },
      {
        title: 'I have feedback or need help, how can I contact you?',
        description:
          "We'd love to hear from you! You can contact us at hi@crushy.ca or via our website.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '0' },
      { title: 'Stars', amount: '0' },
      { title: 'Reviews', amount: '0' },
      { title: 'Users', amount: '1' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Sign up for testing',
        href: 'https://app.youform.com/forms/vtpxsto2',
        target: '_blank',
        icon: 'tabler:chevron-right',
      },
    ]}
  >
    <Fragment slot="title">
      Be the first to test Crushy!
    </Fragment>

    <Fragment slot="subtitle">
      Be one of the first to experience Crushy! Sign up as a beta tester now and help shape the future of connection.
    </Fragment>
  </CallToAction>
</Layout>
